<AuthorizeView>
    <NotAuthorized>

        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <Authorized>
        <a href="Identity/Account/Register">Create User</a>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
</AuthorizeView>